body{
    line-height: 1;
}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font: 16px/28px georgia, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(bg2.jpeg);
}

.container{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .gambar {
    background-image: url(kitty.jpeg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100px; 
    
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
    color: rgb(193, 77, 97);
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: rgb(250, 62, 112);
    margin-right: 50px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header a:hover {
    background-color: pink;
    color: white;
}

.hero {
    height: 280px;
    background-image: url(pink.jpeg) ;
    background-size: cover;
    background-position: 0 -50px;
    border-bottom: 5px solid lightpink;
    border-top: 5px solid lightpink;
}
.hero a {
    text-decoration: none;
    color: palevioletred;
    text-align: center;
    margin-left: 350px;
}

.hero a:hover {
    background-image: url(love.jpeg);
    background-size: cover;
    background-position: 100px;
}
.content {
    padding: 20px;
}

.content h2 { 
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -20px;
}

.content .penulis a {
    color: rgb(250, 62, 112);
    text-decoration: none;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: justify;
}

.content .isisatu {
    font-weight: bold;
    font-size: 18px;
    background-image: url(power.jpeg);
    background-size: 1px;
}
 .roman p {
    
    background-image: url(love.jpeg);
    background-repeat: no-repeat;
 }

.content .isidua {
    font-weight: bold;
    font-size: 18px;
    background-image: url(power.jpeg);
    background-size: 1px;
}

.content p a {
    text-decoration: none;
    color: rgb(250, 62, 112);
}
.footer {
    background-color: lightpink;
    padding: 10px;
}

.footer .copy {
    color: #333;
    text-align: center;
    font-size: 12px;
}

