body{
    background-color: aqua;
    font-family: georgia;
}
h1{
    font-family: "Comic Sans Ms";
    font-size: 60px;
    color: darkblue;
    text-align: left;
}
h4{
    text-align: right;
    font-style: italic;
    margin-top: 10px;
}
h3 a{
    color: purple;
}
p{
     text-align: justify;
}
p a{
    color: darkblue;
    text-decoration: underline;
}